<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="css/home.css">

    <title>Document</title>
</head>
<body>
    <div class="full-pagee">
            <div class="navbarr">
                <div>
                    <a href='/safari'><i class="fab fa-safari"></i> Safari Chat</a>
                </div>
                <nav>
                    <ul id='MenuItems'>
                        <!-- <form action="/logout?_method=DELETE" method="POST">   -->
                            <!-- <li><button type="submit"class='loginbtn' onclick="document.getElementById('login-form').style.display='block'" style="width:auto;">Logout</button></li>  -->
                            <li><button class='loginbtn' onclick="document.getElementById('login-form').style.display='block'" style="width:auto;"><a href="/login"><i class="fas fa-sign-in-alt"></i> Login </a> </button></li>
                        <!-- </form> -->
                    </ul>
                </nav>
            </div>
        <div class="content-steps">
        <section class="steps-inner">
        
            <h3 class="steps-subheadline">So funktioniert Safari Chat</h3>
            <h4 class="steps-mainheadline">So einfach geht es!</h4>
            <div class="steps-wrapper number-of-steps-3" data-name="howto" data-steps="3">
            <div class="step-wrapper">
                <span class="step-icon" ><img src="https://cdn.pixabay.com/photo/2015/11/03/09/03/key-1020000_960_720.jpg" alt=""></span>
                <span class="step-number">1</span>
                <span class="step-headline">Login - Registrieren</span>
                <p>Geben Sie Ihre Email Adresse und Password ein </p>
            </div>
            <span class="step-seperator"> </span>
            <div class="step-wrapper">
                <span class="step-icon" ><img src="https://cdn.dribbble.com/users/4930498/screenshots/10585845/chatroom.jpg" alt=""></span>
                <span class="step-number">2</span>
                <span class="step-headline">Chatroom Auswählen</span>
                <p>Wählen Sie Ihren Chatroom aus.</p>
            </div>
            <span class="step-seperator"> <i class="fas fa-long-arrow-right"></i></span>
            <div class="step-wrapper">
                <span class="step-icon" ><img src="https://matlanedesign.files.wordpress.com/2016/04/groupchat.png" alt=""></span>
                <span class="step-number">3</span>
                <span class="step-headline">Chatten</span>
                        <p>
                Jetzt sind Sie in der Chatgruppe , Die Zeit für Spaß hat angefangen  </p>
                                <div id="promovideo" class=""></div>
            </div>
            <span class="step-seperator"></span>
            </div>
            <div class="steps-slider-dots-wrap">
            <span class="steps-slider-dots steps-slider-dot-active"></span>
            <span class="steps-slider-dots"></span>
            <span class="steps-slider-dots"></span>
            </div>
        </section>
        </div>
        <footer>
            copyright &copy; 2021 Safari Chat 
        
        </footer>
    </div>


<script src="https://kit.fontawesome.com/6644c0b496.js" crossorigin="anonymous"></script>

</body>
</html>