<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylee.css">
    <title> Safarii Chat</title>
    <style>
        .parent {
            /* width: 50vw;
            height: 50vh;*/
            margin: 20vh auto; 
            width: 100vw;
            height: 50vh;
        }
        img {
            width:40vw;
            height: 35vh;
            margin: 30px auto;
            display: block;
            background-size: cover;
        }
        p {
            font-size: 4rem;
            text-align: center;
            color: darkseagreen;
        }
        .parent a:hover {
            color:darkseagreen;
        }

    </style>
</head>
<body>
    <!-- <div class="full-page"> -->
        <div class="parent">
            <p>Welcome to the Safarii Chat</p>
            <img src="img/safari.jpg" alt="Willkommen">
            <p><a href="/login" >Go TO login </a></p>
            <!-- <img src="/img/safari.jpg" alt=""> -->
        </div>
    <!-- </div> -->
</body>
</html>